$theme-colors: (
  "primary": #5A30C1,
  "light": #D8D8D8,
  "secondary": rgba(90, 48, 193, 0.41),
  "dark": #0D061E 
);

$body-bg: rgb(255, 255, 255); 
$body-color: rgb(32, 32, 32); 
$container-color: theme-color("light");
$border-radius: 1px; 
$brand-primary:theme-color("primary");
$font-family-sans-serif: "Avenir Next", sans-serif;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.navbar-text {
  text-align: left;
}

.body {
  background-color: red;
}

.container {
  padding:10px; 
  background-color: theme-color("secondary");
  border-radius: 9px;
  margin: 5px auto;
  max-width: 700px;
}

.dark-container {
  background-color: theme-color("dark");
  min-height: 100vh;
    height: 100%;
}

.light-container {
  @extend .container;
  background-color: theme-color("light");
  box-shadow: 7px 7px 13px 0 rgba(161,161,161,0.50);
  min-height: 80vh;
} 

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.input {
  border-radius: 4px;
}

.btn-primary {
  background:theme-color("primary");
  border-radius: 4px;
  font-family: AvenirNext-Regular;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 21px;
  position: relative;
  cursor: pointer;
}

.btn-primary:hover {
background-color: theme-color("dark");
}

.btn-primary:disabled {
background: theme-color("secondary");
cursor: default;
}